.navbar {
  background-color: #fafc80;
    text-align: center;
    padding: 20px;
}

.navbar a {
    color: rgba(255, 255, 255, 0.85);
    margin: 5px;
}

.navbar a:hover {
    color: orange;
}

.navbar a:active {
    color: red;
}