.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: rgb(228, 163, 72)
  height: 80px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.App-title {
  font-size: 1.5em;
}

.App-subtitle {
  color: rgba(255, 255, 255, 0.8);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
