.App {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

.App-header {
  background-image: url("./img/topMemoryGame.jpg"); 
  height: 80px;
  padding: 20px;
  color: rgb(106, 103, 145);
}

.App-title {
  font-size: 1.5em;
}

.App-subtitle {
  color: #6a6792;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
