.App {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

.App-header {
  background-image: url("./img/topMemoryGame.jpg"); 
  height: 80px;
  padding: 20px;
  color: #E5969D;
  text-shadow:
		-1px -1px 0 rgb(37, 37, 37),
		1px -1px 0 rgb(37, 37, 37),
		-1px 1px 0 rgb(37, 37, 37),
		1px 1px 0 rgb(37, 37, 37),
}

.App-title {
  font-size: 1.5em;
}

.App-subtitle {
  color: #E5969D;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
