.MemoryCard {
    display: inline-block;
    width: 150px;
    height: 80px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    perspective: 800px;
}

.MemoryCardInner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 5px;
    border: 1px solid rgb(159, 158, 175);
    box-shadow: 0 6px 16px rgb(106, 103, 145, .25);
}

.MemoryCardFront {
    font-size: 30px;
    padding-top: 20px;
    transform: rotateY(180deg);
}

.MemoryCardBack {
    background: repeating-radial-gradient(
        circle,
        rgb(245, 203, 212) ,
        rgb(212, 175, 183) 10px,
        #F4BBC7 10px, 
        #F4BBC7  20px
    );
}

.MemoryCardFront, .MemoryCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.MemoryCardInner.flipped {
    transform: rotateY(180deg);
}

.CardImage {
    width: 60px;
    padding-top: 10px;
}

